In [1]:
def yellow(location):
    print(f"hai,my location is {location}")                      # CALLING THE FUNCTION
yellow("KPHB")

hai,my location is KPHB

In [2]:
def num(num1,num2):
    sub=num1-num2
    mul=num1*num2
    div=num1/num2                                   
    modulus=num1%num2                              # sub,mul,div,modulus with the FUNCTION
    print("sub:",sub)
    print("mul:",mul)
    print("div:",div)
    print("modulus:",modulus)
num(9999,7)

sub: 9992
mul: 69993
div: 1428.4285714285713
modulus: 3

In [3]:
def mul(num):
    result=num * num                               
    return result
mul(7777)

60481729

In [4]:
import math
sqrt=math.sqrt(6666)
print("sqrt of 6666 is",sqrt)                      
power=pow(22,8)
print("22 to the power 8 is",power)

sqrt of 6666 is 81.64557550780079
22 to the power 8 is 54875873536

In [5]:
U=lambda K : K * 70
print(U(7000))

490000

In [6]:
K= lambda M,N : M/N
P= K(19920,4670)                                    
print(P)

4.265524625267666

In [7]:
def N():
    B="From Addagutta society  to Teks Academy the time taken is nearly 30 to 35 minutes"
    print(B)
N()

From Addagutta society  to Teks Academy the time taken is nearly 30 to 35 minutes

In [8]:
A="Python Programs for Data Science"
def D():
    print("This function is",A)               
D()

This function is Python Programs for Data Science

In [10]:
class person:
    def __init__(self,name,age):
        self.name=name                      # Creating class and object with Function
        self.age=age
P1=person("Anil",24)
print(P1.name)
print(P1.age)

Anil
24